@font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rakkas'), url(assets/fonts/Rakkas.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Code Light';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Fira Code Light'), url(assets/fonts/FiraCode-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fira Code'), url(assets/fonts/FiraCode-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rakkas', serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
}

#app {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#outerContainer {
    min-height: 100%;
    width: 100%;
    background-color: #508D73;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
}

#navbar {
    flex: 1;
    height: 100%;
    text-align: left;
    padding: 4px 4px 8px;
    font-family: 'Rakkas', serif;
    font-size: 1rem;
}

@media (min-width: 580px) {
    #navbar  {
        padding: 20px 20px 15px;
    }
}

@media (min-width: 580px) {
    #navbar {
        display: flex;
        flex-wrap: wrap;
    }
}

#docsLink {
    text-decoration: none;
    color: black;
    display: block;
}

#docsLink h1 {
    flex: 1;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-decoration: underline;
    color: black;
    margin: 0;
    text-align: right;
}

@media (min-width: 580px) {
    #docsLink h1 {
        text-align: left;
    }
}

#title {
    text-wrap: avoid;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0;
    flex: 11;
}

#version {
    font-size: 1rem;
    color: #210021;
    font-family: 'Fira Code Light', monospace;
    font-weight: 100;
}


#inoutContainer {
    min-height: 100%;
    width: 100%;
    background-color: #30473D;
    color: white;
    display: flex;
    flex: 15;
    flex-wrap: wrap;
    padding-bottom: 8px;
    box-sizing: border-box;
}

#inputContainer, #outputContainer {
    min-height: 100%;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
}

/* input */
#inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

#input {
    flex: 11;
    text-align: left;
    width: 100%;
    min-height: 400px;
    background-color: #051F14;
    font-family: 'Fira Code', monospace;
}

#submit {
    background-color: white;
    float: right;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Fira Code', monospace;
    border-color:#999;
}

/* output */

#outputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#output {
    flex: 11;
    text-align: left;
    white-space: pre;
    display: inline-block;
    width: 100%;
    min-height: 400px;
    min-width: 200px;
    background-color: #051F14;
    font-family: 'Fira Code', monospace;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
}

/* remove scrollbar space / background: transparent; / optional: just make scrollbar invisible */
#output::-webkit-scrollbar {
    width: 0 !important;
}

/* disabled github logo
#footer {
    margin: 0 auto;
}

#githubLink {
    display: inline-block;
}

#githubLogo {
    height: 2.2rem;
}
*/
