@font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: 400;
    src: local('Rakkas Regular'), local('Rakkas-Regular'), url(https://fonts.gstatic.com/s/rakkas/v6/Qw3cZQlNHiblL3jPkdFOG-AMCg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Rakkas', serif;
}

#app {
    height: 100%;
    width: 100%;
}

#outerContainer {
    height: 100%;
    width: 100%;
    background-color: #508D73;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
}

#navbar {
    flex: 1;
    height: 100%;
    text-align: left;
    padding: 20px 20px 15px 20px;
    font-family: 'Rakkas', serif;
    font-size: 1rem;
    display: flex;
}

#githubLogo {
    flex: 1;
    height: 2.2rem;
    margin: 5px;
}

#docsLink {
    flex: 1;
    font-size: 32px;
    text-decoration: none;
    color: black;
}

#navbar h1 {
    margin: 0;
    flex: 11;
}

#version {
    font-size: 1rem;
    color: #210021;
    font-family: 'Fira Code', monospace;
    font-weight: 100;
}

#inoutContainer {
    height: 100%;
    width: 100%;
    background-color: #30473D;
    color: white;
    display: flex;
    flex: 15;
    flex-wrap: wrap;
}

#inputContainer, #outputContainer {
    height: 100%;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
}

/* input */
#inputContainer {
    flex: 7;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#inputUpperWrapper {

}

#input {
    flex: 11;
    text-align: left;
    width: 100%;
    min-height: 200px;
    height: 100%;
    background-color: #051F14;
    font-family: 'Fira Code', monospace;
}

#submit {
    background-color: white;
    float: right;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Fira Code', monospace;
    border-color:#999;
}

/* output */

#outputContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#outputUpperWrapper {

}


#output {
    flex: 11;
    text-align: left;
    white-space: pre;
    display: inline-block;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    height: 90%;
    background-color: #051F14;
    font-family: 'Fira Code', monospace;
}
